.navigationLink {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: #FAF9F6 !important ;
}

.navigationLink:hover {
    color: #FE6F27 !important;
}