.breakWord {
    display: none;
}

.homeSpan {
    color: #FAF9F6;
    font-size: 3rem;
}

.homeSpanName {
    color: #FE6F27;
    font-size: 4rem;
    /* "#F39C12" */
}

.homeContainer {
    height: 100vh;
    text-align: center;
    padding-top: 5rem;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.contactButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem !important;
}

#secondRowButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.secondRowButtons {
    background-color: #FE6F27 !important;
    border: none !important;
    border-radius: 50px !important;
    padding: 0.5rem 1rem !important;
    font-size: 1.25rem !important;
    margin-left: 1rem;
    margin-right: 1rem;
    color: black !important;
}

.homeButton:hover {
    opacity: 85%;
}

.homeButton:hover>.buttonIcon {
    animation: iconMove;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes iconMove {
    0% {
        transform: translateY(0);
    }

    6.25% {
        transform: translateY(-30px);
    }

    12.5% {
        transform: translateY(0);
    }

    18.75% {
        transform: translateY(-15px);
    }

    25% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@media (max-width: 575px) {
    .homeSpan {
        font-size: 2rem;
    }

    .homeSpanName {
        font-size: 2.5rem;
    }

    .secondRowButtons {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 991px) {
    .homeSpanName {
        font-size: 3rem;
    }

    .homeSpan {
        font-size: 1.5rem;
    }

    .breakWord {
        display: initial;
    }
}


@media (min-width: 2000px) {

    .homeSpan {
        font-size: 8rem;
    }

    .homeSpanName {
        font-size: 9rem;
}
}